.step-2-list-block{
    border:1px solid #dddddd;
    padding:18px 28px;  
    background:#fff;
    border-bottom: 3px solid #2d89e6;
	margin-top:20px;
}
#content .intro_text h2.line2.no-margin{
	margin-bottom:17px;	
}
.step-2-list-block .content-heading{
    font-weight: 700;
    font-size: 20px;
    color: #2d89e6;
    text-transform: uppercase;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 12px;  
	padding-top:5px;
}
.step-2-list-block .sub-back{
	float: left;
	margin-right: 10px;	
}
.step-2-list-block ul.default-list li {
    font-weight: 300;
    font-size: 16px;
    color: #61a6ec;
    line-height: 28px;
    padding-left: 28px;
    position: relative;
    margin-bottom: 5px;
}
.step-2-list-block ul.default-list li {
    position: relative;
}
.step-2-list-block ul.default-list li::before {
    content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #f8b71c;
    font-size: 12px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 0;
}
.step-2-list-block ul.default-list li a{
    color: #2d89e6;
    border-bottom: 1px solid #61a6ec; 
}
ul.default-list.black li{
    color: #414141; 
}
.content-long{
    font-size: 16px;
    color: #414141;
    margin-bottom: 15px;
    line-height: 28px;
    font-weight: 300;
}
.content-long.small-text{
    font-size: 13px;
    line-height: 20px;
}
.content-long a{
    color: #2d89e6;
    border-bottom: 1px solid #2d89e6;
}
.content-long a:hover{
    text-decoration:none;
}

.form-head{
    background:#ffffff;
    text-align:center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;  
}
.form-head p{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    text-transform:uppercase;
    font-size:13px;
    color:#262626;
    text-align:center;  
    padding:19px 0; 
}
.form-head h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    background: #f8b71c;
    padding: 16px 0;
    width: 100%;
    text-align: center;
    position: relative;
    line-height: 28px;
}
.form-head h3:after{
    position: absolute;
    content: url(../images/form-head-after.png);
    right: -24px;
    bottom: 0;
    height: 60px;
}
.banner select.form-control option{
    text-transform: capitalize;
    font-size: 15px;
    color: #002852;
    padding: 11px 37px 11px 20px;
    height: 40px;
}
.banner select.form-control option:hover{
    background: #4c2d8a;
    color: #fff;
}
.accordion-section-title,
.b_form .b_form_left p label, .b_form label,
.banner select.form-control{

    background: #f3f3f3 ;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
    border-radius: 50px;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 39px;
    height: 45px;
    line-height: 30px;
    width: 100%;
    box-shadow: none;
    border: none;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
}
.banner select.form-control:hover,
.banner select.form-control:focus{
    border: 1px solid #024594;
}
.banner input[type=number]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.banner input[type=tel],
.banner select#state,
.banner input[type=email],
.banner input[type=text],
.banner input[type=number]{
    font-weight: 400 !important;
    display: block;
    line-height: 1;
    text-transform: capitalize;
    border: 1px solid #d2d2d2;
    border-radius: 30px;
    font-size: 14px;
    color: #151515;
    padding: 10px 20px;
    background: #f3f3f3;
    font-weight: normal;
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
}
.banner select#state:hover,
.banner select#state:focus,
.banner input[type=email]:hover,
.banner input[type=email]:focus,
.banner input[type=text]:hover,
.banner input[type=text]:focus{
    /*background:#fff;
    color:#2d89e6;  */
    border: 1px solid #024594;
}

.banner .btn-banner .next-btn .fa{
    margin-left: 5px;
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: -1px;
}
.banner .btn-banner .next-btn:hover,
.banner .btn-banner .next-btn:focus {
    text-decoration:none;
    transition:all 0.6s;
    -webkit-transition:all 0.6s;
    -moz-transition:all 0.6s;
    -o-transition:all 0.6s;
    -ms-transition:all 0.6s;
    z-index: 1;
    -webkit-animation: as-bottom 2s linear infinite;
    -moz-animation: as-bottom 2s linear infinite;
    animation: as-bottom 2s linear infinite;

}


@keyframes as-bottom {
    0%, 100% {
        -webkit-box-shadow: inset 0px -50px 80px -7px rgba(0,0,0,0.35);
        -moz-box-shadow: inset 0px -50px 80px -7px rgba(0,0,0,0.35);
        box-shadow: inset 0px -50px 80px -7px rgba(0,0,0,0.35);
    }
    50% {
        -webkit-box-shadow: inset 0px -15px 10px -7px rgba(0,0,0,0.35);
        -moz-box-shadow: inset 0px -15px 10px -7px rgba(0,0,0,0.35);
        box-shadow: inset 0px -15px 10px -7px rgba(0,0,0,0.35);
    }
}
.banner .b_top {
    width: 100%;
    position: relative;
    z-index: 1;
}
#DivStep1{
    margin-bottom:25px;
}
#DivStep1.banner .b_top h3 {
    font-size:18px !important;
    width: 100%;
    text-align: left;
    font-size: 27px;
    color: #262626;
    border-bottom: 1px solid #e5e5e5;
    line-height: 35px;
    padding-bottom: 15px;
    font-weight:700;
}
.banner input[type="button"] {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczNzM3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhmOGY4ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(100%, #8f8f8f));
    background-image: -moz-linear-gradient(#737373, #8f8f8f);
    background-image: -webkit-linear-gradient(#737373, #8f8f8f);
    background-image: linear-gradient(#737373, #8f8f8f);
    width: 100%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 22px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.banner input[type="button"]:hover {
    background: #ffffff;
    color: #737373;
}
.banner .b_form {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 1;
}
.banner .b_form .b_form_left {
    width: 100%;
    display:inline-block;
}
.banner .b_form .b_form_left select {
    width: 100%;
}
.banner .b_form .b_form_left input[type=radio] {
    margin-right: 5px;
}
.banner .b_form .b_form_right {
    float: left;
    width: 100%
}
.banner .b_form .b_form_right p {
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #2f5675;
}
.banner .b_form .b_form_right_r {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.banner .b_form .b_form_right_r p {
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    display: none;
}
.banner_next .b_form .b_form_right_r {
    float: left;
    width: 100%;
    display: block
}
.banner_next .b_form .b_form_right_r p {
    color: #ffffff;
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}
.not-clicks{
    color:#999999;
    font-size:14px;
}
.not-clicks .col-sm-12 {
    padding-bottom: 20px;
}
.banner .b_form  .next {
    float: left;
    width: 100%;
    margin: 0;
    text-align: center;
}
.banner .b_form  .next a {
    background: #fab001;
    font-weight: bold;
    border-radius: 25px;
}

.next .next-btn{
    width: 100%;
    float: left;
    border-bottom: 4px solid #a66628;
    position: relative;

}

.banner_next .b_form .btn .prev a,
.banner_next .b_form .btn .next a,
.btn .style1.disable, .next .next-btn{
     font-size: 19px;
    color: #fff;
    text-align: center;
    border: 0px;
    height: 47px;
    line-height: 47px;
    width: auto;
    background: transparent;
    cursor: pointer;
    position: relative;
    padding: 0px;
    outline: none;
    text-transform: uppercase;
    z-index: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    min-width: 150px;
    border-radius: 50px;
    letter-spacing: 0.5px;
    float: right;
}

.banner_next .b_form .btn .prev a:before,
.banner_next .b_form .btn .prev a:after,
.banner_next .b_form .btn .next a:before,
.banner_next .b_form .btn .next a:after,
.next .next-btn:before,
.next .next-btn:after,
.btn .style1.disable:before,
.btn .style1.disable:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height:100%;
    background:#e0b74b;
    z-index: -1;
    transform: translate3D(0, 100%,0);
    transition: all .5s;
    cursor: pointer;
}

.banner_next .b_form .btn .prev a:before,
.banner_next .b_form .btn .next a:before,
.next .next-btn:before,
.btn .style1.disable:before{
    background: #024594;
    z-index: -2;
    transform: translate3D(0,0,0);
}
.banner_next .b_form .btn .prev a:hover:after,
.banner_next .b_form .btn .next a:hover:after,
.next .next-btn:hover:after,
.btn .style1.disable:hover:after{
  height: 100%;
  transform: translate3D(0,0,0);
  transition: all .5s;
}
.banner_next .b_form .btn .prev a:before{
    background: #363636;
}


.banner .b_form  .prev a {
    background: #fab001;
    color: #2f5673;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 25px;
}
.check_boxtext {
    font: normal 12px/16px Arial, Verdana, Helvetica, sans-serif;
    color: #000000;
    padding: 3px 0 5px 5px;
    float: left;
    width: 100%
}
.banner_next {
    display: none;
}
.banner_next .b_top {
    width: 100%;
    position: relative;
    z-index: 1;
}
.banner_next .b_top h3 {
    border-bottom: 1px solid #e5e5e5;
    color: #262626;
    font-size: 18px;
    line-height: 40px;
    padding-bottom: 15px;
    text-align: left;
    width: 100%;
}
.banner_next .b_form {
    position: relative;
    z-index: 1;
}

.banner_next .b_form .b_form_left p.step-title {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 9px;
}
.b_form .b_form_left p label, .b_form label {
    line-height: 45px;

}
.b_form .b_form_left p label:hover,
.b_form label:hover,
.b_form label.active{
    border: 1px solid #024594;
}



.b_form .b_form_left p label:after{ position: absolute;
right: 20px;
top: 20px; }
label.lchecked{    background:#fff !important;
    border: 2px solid #f8b71c !important;
    color:#2d89e6 !important;}
.banner input#txtzip{
    text-transform:capitalize;
}
.contact-list{padding: 0; margin: 0;}
.contact-list li{list-style: none}
.banner input[type=text],
.banner input[type=numeric], 
.banner input[type=email], 
.banner input[type=number], 
.banner input[type=tel],
.banner select {
    font-weight:400;
    display: block;
    text-transform:none;
    font-weight: normal;
    margin-bottom: 15px;
    height: 45px;
    width:100%;

    outline: none !important;
    padding-left: 20px;
    padding-right: 39px;
    color: #231f20;
    font-size: 14px;
}

.frm-field .field-box select#state,
#DivStep5 input {
    padding-left: 50px !important;
}
.frm-field .field-box select#state{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 );
}
.frm-field {
    position: relative;
}
.frm-field:hover:before{
    color: #024594;
}
.frm-field:before {
    content: "\f2c0";
    font-family: FontAwesome;
    position: absolute;
    left: 22px;
    top: 10px;
    z-index: 9;
}
.frm-field.map-marker:before{
    content: "\f041";
}


#DivStep5 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
  opacity: 1;
}
#DivStep5 input::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
  opacity: 1;
}
#DivStep5 input:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
  opacity: 1;
}
#DivStep5 input:-moz-placeholder { /* Firefox 18- */
  color: inherit;
  opacity: 1;
}

.banner input[type=email]{
     text-transform: inherit
}
.banner select#state{
	margin: 0 0 15px !important;
	padding-left: 15px !important;	
	-webkit-appearance: none; 
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;       /* remove default arrow */
 	/*background:url('img/arrow.png') no-repeat 97% center;*/	
}
.banner input[type=text]:hover,
.banner input[type=text]:focus, 
.banner input[type=numeric]:hover,
.banner input[type=numeric]:focus, 
.banner input[type=email]:hover,
.banner input[type=email]:focus 
.banner input[type=number]:hover,
.banner input[type=number]:focus, 
.banner input[type=tel]:hover,
.banner input[type=tel]:focus{
    /*background:#fff;
    color:#231f20;*/
    border: 1px solid #024594;
}
a[href="#AddPhone"] {
    float: right;
    color: #262626;
    text-transform:uppercase;
}
a[href="#AddPhone"]:hover {
    color: #2d89e6;
}

#DivStep5 {}
.form-submit{
    position: relative;
}
.form-submit i {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 13px;
    font-size: 21px;
}
.b_form .btn .next input[type=submit] {
    background: #024594;
    font-size: 19px;
    color: #fff;
    text-align: center;
    border: 0px;
    height: 49px;
    line-height: 49px;
        font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    
}
.pnone-box {
    position: relative;
}
.pnone-box span {
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: 23px;
    padding-top: 12px;
    font-size: 14px;
    border-right: solid 1px #d2d2d2;
}
.pnone-box span i {
    margin-right: 15px;
}
.pnone-box:hover span i{
    color: #024594;
}
.pnone-box span font.mob{
    display: none;
}

#DivStep5 .pnone-box input {
    padding-left: 54% !important;
}

 #DivStep5 input[type=submit]{
    padding-left: 0 !important;
 }

.b_form .btn .next input[type=submit]:focus{
    outline: none;
}
.b_form .btn .next input[type=submit]:hover{
    background:#e0b74b;
    box-shadow: 0 0 1px 0 #ffffff;
    color: #fff !important;
    transition: all 0.5s ease 0s;
}

.form-term-cont {
    border-top: solid 1px #e8e8e8;
    padding-top: 20px;
    margin-top: 9px;
}

.b_form .b_form_left .p1 {
    font-weight: 500;
    font-size: 12px;
    color: #333;
    width: 100%;
    /*text-align: justify;*/
    line-height: 20px;
}
.b_form .b_form_left .p1 a{
    color: #fab001;
}
.b_form .b_form_left .p1 a:hover {
    color: #000101;
}

#DivStep21 .accordion-section .accordion-section-title,
.field-box {
    position: relative;
    clear: both;
}

.field-box:after {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: 7px solid #37474f;
    content: "";
}

.field-box:hover:after {
   border-top-color:#024594; 
}
#DivStep22 .b_form_left label:after,
#DivStep21 .accordion-section label:after,
#DivStep21 .accordion-section .accordion-section-title:after,
#DivStep20 .b_form .b_form_left .field-box:after,
#DivStep2 .b_form .b_form_left .field-box:after {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 0;
    height: 0;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-left: 7px solid #37474f !important;
    content: ""; 
}
#DivStep22 .b_form_left label:hover:after,
#DivStep21 .accordion-section label:hover:after,
#DivStep21 .accordion-section .accordion-section-title:hover:after,
#DivStep20 .b_form .b_form_left .field-box:hover:after,
#DivStep2 .b_form .b_form_left .field-box:hover:after{
    border-left-color:#024594 !important;
}
#DivStep22 .b_form_left label,
#DivStep21 .accordion-section label{
    position: relative;
}
#DivStep21 .accordion-section label.active,
#DivStep22 .b_form_left label.active,
#DivStep23 .b_form_left label.active{
    border: 1px solid #024594 !important;
}

#DivStep21 .accordion-section .accordion-section-title,
#DivStep20 .b_form .b_form_left label,
#DivStep2 .b_form .b_form_left label,
.banner_next .b_form .b_form_left select {
    float: left;
    /*padding: 1%;
    margin: 2% 0;*/
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dcdcdc+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}
.accordion-section-title.active,
.accordion-section-title:hover{
    border-color: #024594 !important;
    color: #333 !important;
}

.banner_next .b_form .b_form_left input[type=radio], .banner .b_form .b_form_left input[type="radio"] {
    margin-right: 0px;
    visibility: hidden;
    margin-left: -10px;
}
.banner_next .b_form .b_form_left input[type=number] {
}
.banner_next .b_form .b_form_left input[type=checkbox] {
}
.banner_next .b_form .b_form_right {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    display: block;
}
.banner_next .b_form .b_form_right p {
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}
.banner_next .b_form .btn .next {
    float: left;
    width: 100%;
    margin: 15px 0;
    text-align: center;
    display: none;
}
#zipcode.banner_next .b_form .btn .next, 
#DivStep41.banner_next .b_form .btn .next, 
#DivStep5.banner_next .b_form .btn .next {
    display: block;
}
.banner_next .b_form .btn .next a {
    background: #fab001;
    display: block;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3)
}

.banner_next .b_form .btn .next a.disable {
    background: #2d89e6;
    border-radius: 50px;
}

.banner_next .b_form .btn .next a.disable i{margin-left: 5px;font-size: 20px; line-height: 1}
.banner_next .b_form .btn .next a.disable:hover,
.banner_next .b_form .btn .next a.disable:focus {
    text-decoration: none;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    z-index: 1;
    -webkit-animation: as-bottom 2s linear infinite;
    -moz-animation: as-bottom 2s linear infinite;
    animation: as-bottom 2s linear infinite;
}
.banner_next .b_form .btn .prev {
    display: inline;
    width: 100%;
    text-align: center;
    float: left;
}
.banner_next .b_form  .btn .prev a {
    font-family: 'Oswald', sans-serif;
    background: transparent;
    color: #fff;
    float: none;
    text-transform: uppercase;
    font-weight: normal;
    width: 100%;
    max-width: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    font-size: 19px;
    margin-top: 18px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3)
}
.banner_next .b_form  .btn .prev a i{
	color: #fff;
	margin-right: 5px;
	font-size: 18px !important;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
 	-moz-transform: rotate(180deg);
 	-ms-transform: rotate(180deg);
 	-o-transform: rotate(180deg);
}
.banner_next .b_form  .btn .prev a:hover{
    text-decoration:none;
}
.banner_next .b_form  .btn .prev a .fa {
    font-size: 20px;
    line-height: 1;
}
.banner_next .b_form .btn {
   /*float: left;
    width: 100%; */
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
}
.banner_next .content_1 {
    float: left;
    width: 96%;
    margin-top: 20px;
    display: none
}
.banner_next .content_1 .top {
    float: left;
    width: 100%
}
.banner_next .content_1 .top p {
    float: left;
    font-size: 1.2em;
    text-transform: uppercase;
    background: #c5d7ed;
    color: #fff;
    padding: 1.5% 19%;
    margin-right: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 62.5%;
    text-align: center;
}
.banner_next .content_1 .c_content {
    width: 100%;
    float: left;
    border: 1px solid #dedede;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
.banner_next .content_1 .c_content p {
    float: left;
    padding: 2%;
    width: 96%;
    font-size: 0.9em;
    text-align: justify;
}
.banner_next .content_1 .c_content ul {
    float: left;
    width: 90%;
    margin-left: 22px;
}
.banner_next .content_1 .c_content ul li {
    float: left;
    list-style: disc;
    color: #000;
    font-size: 0.9em;
    width: 51%;
    padding: 0.6% 0;
    width: 100%
}
.progress-div{
    padding:15px 30px 17px 30px;  
}
.progress-title{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size:13px;
    color:#262626;  
    text-transform:uppercase;
}
.formProgressBase {
    background-color: #e6e6e6 !important;
    width: 100% !important;
    height: 10px !important;
    overflow: hidden;
    padding: 1px;
    text-align: center;
    margin: 0px 0 0px 0px !important;
    border-radius: 50px;
    display: inline-block;
    float: none;
}
.formLoadingProgress {
    background: #2b90f8;
    float: left;
    height: 10px;
    border-radius: 50px 0 0 50px    ;
}
.accordion-section-title {
    line-height: 45px;

}

#DivStep41 .your-email {
    position: relative;
}
#DivStep41 .your-email input[type=email]{
    padding-left: 48px;
}
#DivStep41 .your-email:before {
    content: "\f003";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px;
}
#DivStep41 .your-email:hover:before,
#DivStep41 .your-email:focus:before{
    color: #024594;
}


#DivStep4 .b_form label{
    margin-bottom: 5px;
}
#DivStep31 .b_form label,
#DivStep3 .b_form label,
#DivStep4 .b_form label
{
    text-align: center;
    font-weight: 700;
    font-size: 18px;

}
#DivStep4 .b_form label:hover,
#DivStep4 .b_form label:focus,
#DivStep4 .b_form label.active,
#DivStep31 .b_form label:hover,
#DivStep31 .b_form label:focus,
#DivStep31 .b_form label.active,
#DivStep3 .b_form label:hover,
#DivStep3 .b_form label:focus,
#DivStep3 .b_form label.active,
.accordion-section-title.active,
.accordion-section-title:hover,
.accordion-section-title:focus{
    background:#e0b74b none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;  
    border-color: #e0b74b;
}

.accordion-section-title.active{
    /*margin-bottom:0;*/
}
.accordion-section-content {
    padding: 15px;
    display: none;
}
.ajs-dialog .ajs-content{
    font-size: 16px;  
}
.ajs-dialog .ajs-button{
    background: #024594;
    color: #fff;
    font-weight: 900;
    display: inline-block;
    border-radius: 40px;
    font-size: 17px;
    text-align: center;
    padding: 10px 0;
    border: 0 none;
    cursor: pointer;
}
.ajs-dialog .ajs-button:hover,
.ajs-dialog .ajs-button:focus{
    border:none; outline: none;
    background-color: #e1b74d;
}

.add-phones {
    float: right;
    color: #000;
    text-decoration: underline;
	display:none;
}
